---
title: Hello, World! 
layout: layouts/home.njk
description: An obsession with useless things.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
An obsession with (seemingly) useless things.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>